body {
    background: repeat url("./topography.png");
    font-family: 'Courier Prime', monospace;
    width: auto;
    margin: 0 0 20px 0;
    padding-left: 10%;
    padding-right: 10%;
}
.menu {
    background-color: #333333;
    font-family: 'Inconsolata', monospace;
    width: auto;
    margin-left: -15%;
    margin-right: -15%;
    padding: 10px 15% 10px 15%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    top: 0;
}
.navLink {
    margin-left: 30px;
}
#logo {
    position: absolute;
    overflow: visible;
    left: 10%;
}
#headerOne {
    font-size: 2.5em;
}
article {
    margin-top: 100px;
}
a, .subtitle {
    color: #ff0099;
}
.main p {
    font-size: 12px;
}
.separator, .main h2 {
    text-align: center;
    line-height: 50px;
}
.header .separator {
    margin-top: 25px;
}
.footerItem {
    display: inline;
}
